
<h4>Próximamente</h4>
<table class="table table-striped">
    <tbody>
        <!-- Usamos la directiva ng-repeat para iterar por cada película en la colección obtenida de la API -->
        <tr ng-repeat="pelicula in peliculas">
            <!-- Mostramos el título -->
            <td>{{ pelicula.title }}</td>
            <!-- Los filtros pueden concatenarse; se hace separándolos unos de otros con pipes |. El output
            de cada filtro es el input del siguiente. Aquí, a 'pelicula.release_date' le aplicamos el filtro 'date',
            y a la salida de éste, le aplicamos el filtro 'fechaEstreno' -->
            <td>{{ pelicula.release_date | date:'dd/MM/yyyy' | fechaEstreno }}</td>
        </tr>
    </tbody>
</table>
